<div class="hugo-module edited">
    <hr>
    {{ $site := .Site }}
    {{ $page := . }}
    {{ with .GitInfo }}
    Author: <a href="mailto:{{ .AuthorEmail }}">{{ .AuthorName }}</a><br>
    {{ if site.Params.repo }}
    Commit: <a href="{{ site.Params.repo }}/src/commit/{{ .Hash }}/content/{{ $page.File }}" title="Commit: {{ .Subject }}">
        {{ .AbbreviatedHash }}
    </a><br>
    {{ end }}
    Edited: {{ .AuthorDate.Format "January 01, 2006" }}
    {{ end }}
    {{ with .CodeOwners }}
    <hr>
    Owners:
    {{ range .CodeOwners }}
    {{ . }}
    {{ end }}{{ end }}
</div>
