{{ define "main" -}}
<div id="boxes" class="container-fluid mb-5">
    <header>
        <h1 class="display-4">
            {{ .Title }}
        </h1>
    </header>
    <main>
        {{ if .Content }}
        <div class="mb-5">
            {{ .Content }}
        </div>
        {{ end }}
        {{ $boxes := where site.RegularPages "Section" .Section }}
        {{ if $boxes }}
        <div class="row">
            {{- range $boxes }}
            <div class="col-lg-3">
                <div class="card bg-transparent mb-4" style="height: 350px;">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ .Permalink }}" title="Read {{ .Title }}" rel="bookmark">
                                {{ .Title }}
                            </a>
                        </h4>
                        {{ if .Date }}
                        <h6 class="card-subtitle mb-2 text-muted">
                        <time class="text-muted mb-2" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>
                            {{ .Date.Format "Jan 2, 2006" }}
                        </time>
                        </h6>
                        {{ end }}
                        <p class="card-text">
                            {{ if .Description }}{{ .Description }}{{ else }}
                            {{ if .IsPage }}
                            {{ .Summary }}{{ if .Truncated }}...{{ end }}
                            {{ end }}
                            {{ end }}
                        </p>
                        <a href="{{ .Permalink }}" class="btn btn-sm btn-primary">
                            View {{ .Section | singularize }}
                        </a>
                    </div>
                </div>
            </div>
            {{- end }}
        </div>
        {{ else }}
        {{ partial "no-content.html" . }}
        {{ end }}
    </main>
</div>
{{- end }}
