{{define "main" -}}
<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <h1>{{ .Title }}</h1>
            <main>
                {{ .Content }}
            </main>
        </div>
        <div class="3">
        </div>
    </div>
    {{ partial "section-tryptich.html" . }}
</div>
{{- end }}
