{{ define "main" -}}
<div id="contained" class="container-xl mb-5">
    <header>
        <h1 class="display-4">
            {{ .Title }}
        </h1>
    </header>
    <main>
        {{ if .Content }}
        <div class="mb-5">
            {{ .Content }}
        </div>
        {{ end }}

        {{ $sections := .Site.Sections }}
        {{ if $sections }}
        <div class="row">
            {{- range $sections }}
            <div class="col-lg-4">
                <div class="card bg-transparent border-primary mb-5" style="height: 25rem;">
                    <div class="card-header">
                        <h4 class="card-title mb-0">
                            <a href="{{ .Permalink }}" title="Read {{ .Title }}" rel="bookmark">
                                {{ .Title }}
                            </a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <p>{{ .Content }}</p>
                        <a href="{{ .Permalink }}" class="btn btn-primary">
                            Explore
                        </a>
                    </div>
                </div>
            </div>
            {{- end }}
        </div>
        {{ else }}
        {{ partial "no-content.html" . }}
        {{ end }}
    </main>
</div>
{{- end }}
