{{ define "main" -}}
<section class="full-height home" style="background-image: url(/images/green-leafs-black-sm.jpg)">
    <div class="container pt-5">
        <div class="d-flex justify-content-center green-logistics">
            <img class="mb-5 w-50 d-xs-inline-block d-sm-none d-md-none" src="/images/eotl-white.svg">
            <img class="mb-5 d-none d-sm-inline-block" src="/images/logo-logistics.svg">
        </div>
        <a href="/purpose/">
            <span>Towards</span>
            <span>Radically</span>
            <span>Sustainability</span>
        </a>
    </div>
</section>

<hr class="light">
<h3 class="hashtags text-muted">
    #climate_emergency #plastic_pollution #extinction
</h3>

<div class="container">

    <div class="row">
        <div class="col-12">
        {{ .Scratch.Set "section" "updates" }}
        {{ .Scratch.Set "limit" "8" }}
        {{ .Scratch.Set "meta" "date" }}
        {{ .Scratch.Set "more" "top" }} 
        {{ partial "widget_section_rows.html" . }}

        {{ .Scratch.Set "section" "projects" }}
        {{ .Scratch.Set "limit" "8" }}
        {{ .Scratch.Set "meta" "branch" }}
        {{ .Scratch.Set "more" "top" }} 
        {{ partial "widget_section_rows.html" . }}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{ .Scratch.Set "section" "articles" }}
            {{ .Scratch.Set "limit" "4" }}
            {{ .Scratch.Set "more" "bottom" }} 
            {{ partial "widget_section.html" . }}
        </div>
        <div class="col-6">
        </div>
    </div>

    <h3 class="hashtags">
        #reduce + #reuse = #zer0-waste
    </h3>

    <div>
        {{ .Content }}
    </div>

    <hr class="thick-light">
    <p class="detail mb-0 text-muted text-center">
        Collectively fighting extinction
    </p>
    <hr class="thick-light">

    {{ partial "rip.html" (dict "text" true) }}
</div>
{{- end }}
