{{ define "main" -}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-7">
            <header>
                <h1 class="display-4">
                    {{ .Title }}
                </h1>
            </header>
            <main>
                {{ $list := where site.RegularPages "Section" .Section }}
                {{ if $list }}
                <ul class="list-unstyled">
                    {{- range $list }}
                    <li class="my-5">
                        <hr class="mt-5 light">

                        <h3 class="mb-1">
                            <a href="{{ .Permalink }}" title="Read {{ .Title }}" rel="bookmark">
                                {{ .Title }}
                            </a>
                        </h3>
                        {{ if .Date }}
                        <time class="text-muted mb-2" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>
                            {{ .Date.Format "Jan 2, 2006" }}
                        </time>
                        {{ end }}
                        <p class="mt-0 mb-4">
                            {{ if .Description }}{{ .Description }}{{ else }}
                            {{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}
                            {{ if .Truncated }}
                            ...
                            {{ end }}
                            <a href="{{ .RelPermalink }}">
                                {{ i18n "read_more" }}
                            </a>
                        </p>
                    </li>
                    {{- end }}
                </ul>
                {{ else }}
                {{ partial "no-content.html" . }}
                {{ end }}
            </main>
        </div>
        <div class="col-sm-12 offset-lg-1 col-lg-4">
            {{ partial "widget_menu_main.html" . }}
            <div class="my-5"></div>
            {{ partial "widget_explore.html" . }}
        </div>
    </div>
    {{ partial "section-tryptich.html" . }}
</div>
{{- end }}
