{{define "main" -}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-8 col-xl-7">
            <article>
                <h1 class="display-4">{{ .Title }}</h1>
                {{ if (isset .Params "subtitle") }}
                <h2 class="top light-font">
                    {{ .Params.subtitle }}
                </h2>
                {{ end }}

                <div class="meta mb-5">
                    <div class="row">
                        <div class=" col-4">
                            <span class="text-muted">
                                {{ partial "section-icon-name.html" . }} 
                            </span>
                        </div>
                        <div class="col-4 text-center">
                            <span class="text-muted">
                            {{ T "reading_time" .ReadingTime }}
                            </span>
                        </div>
                        <div class="col-4 text-right">
                            {{ if .Date }}
                            <time class="post-date text-muted" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>
                                {{ .Date.Format "Jan 2, 2006" }}
                            </time>{{ end }}
                        </div>
                    </div>
                </div>
                <main>
                    {{ .Content }}
                </main>
            </article>
        </div>
        <div class="col-sm-12 col-lg-4 offset-xl-1 col-xl-3">
            {{ partial "widget_menu_main.html" . }}
            <div class="my-5"></div>
            {{ partial "widget_explore.html" . }}
        </div>
    </div>
    {{ partial "section-tryptich.html" . }}
</div>
{{- end }}
