{{ define "main" }}
<div class="container-fluid">
  <main class="taxonomy-taxonomy-page">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
          <h1 class="text-monospace">
              {{ .Title }}
          </h1>
          {{ .Content }}
          <hr>

          {{ $taxo_section := .Section }}
          {{ range .Pages }}
            {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
            <article class="article-teaser article-type-{{ with .Type }}{{ ( urlize . ) }}{{ end }}">
              <h3>
                  <a href="{{ $manualLink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>
                      {{- .Title -}}
                  </a>
              </h3>
              <p class="text-muted">
                <img height="21" class="invert" src="/icons/{{ .Section }}.svg"> {{ .Section }}
                {{ if .Date }}<time>{{ .Date.Format "Jan 2, 2006" }}</time>{{ end }}
              </p>

              <div>
                {{ $context := . }}
                {{ if .Site.Params.Taxonomy.taxonomyPageHeader }}
                  {{ range $index, $taxo := .Site.Params.Taxonomy.taxonomyPageHeader }}
                    {{ if ne $taxo $taxo_section }}
                    {{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
                    {{ end }}
                  {{ end }}
                  {{ else }}
                  {{ range $taxo, $taxo_map := .Site.Taxonomies }}
                    {{ if ne $taxo $taxo_section }}
                    {{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
                    {{ end }}
                  {{ end }}
                  {{ end }}
              </div>
              {{ if .Description }}
              <p>{{ .Description | markdownify }}</p>
              {{ end }}
            </article>
            <hr class="light my-5">
          {{ end }}
            <a href="{{ with .Site.GetPage (printf "/%s" ( lower .Data.Plural )) }}{{ .Permalink }}{{ end }}" class="btn btn-primary">
                View All {{ humanize ( T "ui_all" ) }} {{ with .Data.Plural }}{{ . | humanize }}{{ end }} 
            </a>
        </div>
        <div class="col-sm-12 col-lg-4"> 
            <img class="invert mb-3" src="/icons/{{ .Data.Plural | lower }}.svg">
            <h3>
                {{ with .Data.Plural }}{{ . | humanize }}{{ end }}
            </h3>
            <em class="text-muted text-monospace">
                {{ if eq .Data.Plural "leafs" }}
                Leaf: noun, outgrowth from a plant stem, a flattened variably shaped greenish organ
                {{ else if eq .Data.Plural "branches" }}
                Branch: noun, a secondary shoot or stem arising from a main axis of a tree
                {{ else if eq .Data.Plural "roots" }}
                Root: noun, underground, downward-growing part of a plant
                {{ end }}
            </em>
         </div>
    </div>
  </main>
</div>
{{ end }}
