{{ define "main" }}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <main>
                <div class="d-flex mb-3">
                    <h1 class="display-3">{{ .Title }}</h1>
                    <img class="ml-4 invert" src="/icons/{{ .Title | lower }}.svg">
                </div>
                {{ if eq (lower .Title) "leafs" }}
                {{ partial "taxonomy_terms_cloud.html" (dict "context" . "taxo" ( lower .Title ) ) }}
                {{ else if eq (lower .Title) "branches" }}
                {{ partial "taxonomy_branches_boxes.html" (dict "context" . "taxo" ( lower .Title ) ) }}
                {{ else if eq (lower .Title) "roots" }}
                {{ partial "taxonomy_branches_boxes.html" (dict "context" . "taxo" ( lower .Title ) ) }}
                {{ else }}
                Unknown taxonomy view
                {{ end }}
            </main>
        </div>
        <div class="col-sm-12 col-lg-4">
            {{ partial "widget_what_is.html" }}
            {{ partial "widget_menu_main.html" . }}
            <div class="my-5"></div>
            {{ partial "widget_explore.html" . }}
        </div>
    </div>
</div>
{{ end }}
