{{ define "main" -}}
<section class="jumbotron">
    <div class="container pt-2 pb-2 text-center">
        <img class="img-fluid h-75 block mb-5" src="/images/{{ .Site.Params.logo }}">
        <h1>{{ .Site.Title }}</h1>
        <p>{{ .Site.Params.Tagline }}</p>
        <a class="btn btn-primary" href="#offerings">
            Browse Offerings
        </a>
    </div>
</section>

{{ if in .Site.Params.sections "welcome" }}
<div class="container pb-5" id="welcome">
    <h2 class="mb-1">{{ .Title }}</h2>
    <hr class="mt-2 mb-5">
    {{ partial "welcome.md" | markdownify }}
</div>
{{- end }}

{{ if in .Site.Params.sections "offerings" }}
<div class="container pb-5" id="offerings">
    <h2 class="mb-1">{{ .Site.Params.offerings }}</h2>
    <hr class="mt-2 mb-5">
    <noscript>
        <strong>We're sorry but ui-ordering doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    {{ if eq .Site.Params.inventoryApi "open-inventory" }}
    <div id="app-open-inventory"></div>
    <link href="css/ui-ordering.css" type="text/css" rel="stylesheet">
    <script>const ordering = {
        inventoryUrl: '{{ .Site.Params.inventoryUrl }}',
        dispatchUrl: '{{ .Site.Params.dispatchUrl }}',
        dispatchCarrier: "{{ .Site.Params.dispatchCarrier }}"
        coordinator: 'testing',
        api: '/api/',
        lang: 'en',
        style: 'light-mode',
        iconPath: '/assets/icons/',
        imagePath: '/items/simple/',
        checkoutType: 'priced'
    }</script>
    <script src="/ordering/js/libs.js"></script>
    <script src="/ordering/js/ui-ordering.js"></script>
    <script src="/ordering/js/app.js"></script>
    {{- end }}

    {{ if eq .Site.Params.inventoryApi "coopcycle" }}
    <div id="app-coopcycle">
      <category-section
      v-for="item in categories"
      v-bind:carrier="dispatchCarrier"
      v-bind:dispatch="dispatchUrl"
      v-bind:menu="menuItems"
      v-bind:category="item"
      v-bind:key="item.id">
      </category-section>
    </div>
    <script>
        const menuConfig = {
            inventoryApi: "{{ .Site.Params.inventoryApi }}",
            inventoryUrl: "{{ .Site.Params.inventoryUrl }}",
            dispatchUrl: '{{ .Site.Params.dispatchUrl }}',
            dispatchCarrier: "{{ .Site.Params.dispatchCarrier }}"
        }
    </script>
    <script src='{{ "/js/vue.js" | absURL }}'></script>
    <script src='{{ "/js/menu-coopcycle.js" | absURL }}'></script>
    {{- end }}
</div>
{{- end }}

{{ if in .Site.Params.sections "gallery" }}
<div class="container pt-5 pb-5" id="gallery">
    {{ partial "gallery.md" | markdownify }}
    <div id="gallery"></div>
</div>
{{- end }}

{{ if in .Site.Params.sections "bottom" }}
<div class="container pt-5 pb-5" id="bottom">
    {{ partial "bottom.md" | markdownify }}
</div>
{{- end }}

{{- end }}
