<div class="mb-5">
    <h3>Recent Changes</h3>
    <ul class="list-unstyled border-bottom border-light">
    {{ range (site.RegularPages.ByLastmod.Reverse.Limit 4) }}
        <li class="mb-2 pt-2 border-top border-light">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a><br>
            <time class="small text-monospace text-muted">
                {{ time.Format "2006-01-02" .Date }}
            </time>
        </li>
    {{ end }}
    </ul>
    <a href="/recent" class="btn btn-sm btn-primary">
        See All
    </a>
</div>

<div class="mb-5">
    <h3>New Pages</h3>
    <ul class="list-unstyled border-bottom border-light">
    {{ range (site.RegularPages.ByDate.Reverse.Limit 4) }}
        <li class="mb-2 pt-2 border-top border-light">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a><br>
            <time class="small text-monospace text-muted">
                {{ time.Format "2006-01-02" .Date }}
            </time>
        </li>
    {{ end }}
    </ul>
</div>
