/* Custom CSS goes here */

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem auto !important;
  max-width: 1600px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}
