{{define "main" -}}
<div class="container">
    <article>
        <h1>{{ .Title }}</h1>
        {{ if (isset .Params "subtitle") }}
        <h2 class="top light-font">
            {{ .Params.subtitle }}
        </h2>
        {{ end }}
        <main>
            {{ .Content }}
        </main>
    </article>
    {{ if (isset .Params "partial_join") }}
    <div class="container">
        {{ partial "join-us.html" . }}
    </div>
    {{ end }}
</div>
{{- end }}
