/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
    background: #fff;
    background-color: #fff;
}

.reveal {
  font-family: "Roboto-Regular", "Helvetica", "Arial",  sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #333333;
}

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-family: "RobotoMono-Bold", "Helvetica", "Arial", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
  color: #999999;
  font-family: "Roboto-Regular", "Helvetica", "Arial",  sans-serif;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
    font-weight: bold;
    color: #FFFFFF;
}

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: none;
}

.reveal section.text-left ul {
    margin-left: 40px;
    padding-left: 20px;
}

.reveal ul li {
    list-style-image: url("/images/list-triangle-gray.svg");
    margin-bottom: 1.5rem;
    padding-left: 10px;
}

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 75%;
  margin: 1rem auto 3rem auto;
  padding: 0 0 0 1.5rem;
  font-size: 0.55em;
  font-family: "RobotoMono-Regular", monospace;
  font-style: normal;
  color: #c1c1c1;
  border-left: 6px solid #666666;
  text-align: left;
  letter-spacing: 0;
  quotes: "“" "”";
}

.reveal blockquote:before {
    display: inline-block;
    color: #FFFFFF;
    margin: 0 1.5rem;
    padding: 0;
    content: open-quote;
    font-size: 60px;
    line-height: 60px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.reveal blockquote p:after {
    color: #FFFFFF;
    content: close-quote;
}

.reveal blockquote p {
    margin-left: 2.5rem;
    font-family: "RobotoMono-Regular", monospace;
    font-style: "normal";
}
  
.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal blockquote p:first-child {
  margin-top: 0;
}

.reveal blockquote p:last-child {
  margin-bottom: 0;
}

.reveal blockquote p strong {
  color: #FFFFFF;
  font-family: "RobotoMono-Bold", monospace;
}

.reveal blockquote footer {
  display: block;
  text-align: right;
  margin-top: .5rem;
  margin-right: 2rem;
  color: #FFF;
  font-family: "RobotoMono-Bold", monospace;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: "RobotoMono-Regular", monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  color: #999999;
}

.reveal pre strong {
  color: #FFFFFF;
  font-family: "RobotoMono-Bold", monospace;
}

.reveal code {
  font-family: monospace;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
}

.reveal sub {
  vertical-align: sub;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #800000;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #BD0707;
  text-shadow: none;
  text-decoration: underline;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #00003f; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  display: block;
  max-height: 600px;  
  margin: 15px auto;
  background: transparent;
}

.reveal section img.plain {
  border: 0;
  box-shadow: none;
}

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #00008B;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #800000; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #800000; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #800000; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #800000; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #BD0707; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #BD0707; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #BD0707; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #BD0707; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #BD0707;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }



/*********************************************
 * CUSTOM
 *********************************************/

section.has-light-background {
    color: #000000;
    font-family: "Roboto-Medium", "Helvetica", "Arial",  sans-serif;
}

section.has-dark-background {
    color: #FFFFFF;
    font-family: "Roboto-Medium", "Helvetica", "Arial",  sans-serif;
}

section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3 {
    display: inline-block;
    background: #000000;
    color: #FFFFFF;
    padding: .5rem 1.5rem .75rem; 
    font-family: "RobotoMono-Bold", "Helvetica", "Arial",  sans-serif;
    text-transform: uppercase;
}

section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
    color: #000000; 
    font-family: "RobotoMono-Medium", "Helvetica", "Arial",  sans-serif;
}

section.has-light-background .invert,
section.has-light-background .invert,
section.has-light-background .invert {
    display: inline-block;
    padding: .25rem 1rem;
    background: #000000;
    color: #FFFFFF;
}

section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3 {
    color: #ffffff;
    font-family: "RobotoMono-Bold", "Helvetica", "Arial",  sans-serif;
    text-transform: uppercase;
}

section.has-dark-background .invert,
section.has-dark-background .invert,
section.has-dark-background .invert {
    display: inline-block;
    padding: .25rem 1rem;
    background: #FFFFFF;
    color: #000000;
}

section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
    color: #666666; 
}

.reveal a.link-small {
    background: #FFFFFF;
    color: #555555;
    font-size: 16px;
    padding: .75rem 1.25rem;
}

.reveal a.link-small:hover {
    text-decoration: none;
    color: #BD0707;
}

.reveal img.image-tiny {
    max-width: 225px;
    max-height: 225px;
}

.reveal img.image-small {
    max-width: 300px;
    max-height: 300px;
}

.reveal img.image-medium {
    max-width: 350px;
    max-height: 350px;
}

.reveal img.image-medium {
    max-width: 475px;
    max-height: 475px;
}

.reveal .text-muted {
    color: #666666;
}

.reveal .text-left {
    text-align: left;
}

.reveal .text-center {
    text-align: center;
}

.reveal .text-right {
    text-align: right;
}

.reveal span.rip {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background: #111;
    color: #999;
    font-size: 16px;
    font-family: "RobotoMono-Bold";
    padding: .75rem 1rem;
}
