<ul class="wiki-menu">  
  {{ $menu := site.Data.wiki_menu }}
  {{ range $menu.items}}
  {{ if .text}}
  <li>
    {{ if .link }}
    <a href="{{.link}}">{{.text}}</a>
    {{ else }}
    {{ .text}}
    {{ end}}
    {{ with .items}}
    <ul>
      {{ range .}}
      <li class="wiki-menu-secondary">- <a href="{{.link}}">{{.text}}</a></li>
      {{ end }}
    </ul>
  {{ end}}
   </li>
   {{ else }}
   </ul>
   <br>
   <ul>
   {{ end}}
  {{ end}}
</ul>
