<!-- END -->

<section
    data-background-size="75%"
    data-background-image="/images/animals/desert-rat-kangaroo-transparent.png"
    data-background-color="#000000">
    <h1>End_</h1>
    <blockquote cite="https://rebellion.earth/the-truth/the-emergency/">
        <p>This is an emergency and for emergency situations we need emergency actions.</p>
        <footer>_Ban Ki-Moon</footer>
    </blockquote>

    <span class="rip">
        Desert Rat Kangaroo, Existence Uncertain
    </span>
</section>

<section data-background-size="contain"
    data-background-image="/images/animals/the-bali-tiger-transparent.png"
    data-background-position="31%"
    data-background-color="#000000">
    <img src="/images/eotl-white.svg" class="image-small"><br>
    <img src="/images/four-purposes-white.svg"><br>
    <span class="rip">
        RIP Bali Tiger, 2008
    </span>
</section>
