<section
    data-background-image="/images/animals/toughie-transparent.png"
    data-background-color="#000000"
    data-background-size="contain">
    <img class="image-medium" src="/images/extinction-symbol-white.svg ">
    <br>
    <span class="rip">
        RIP <em>Toughie</em>, 2016
    </span>
</section>
