<section>
    <section
        data-background-image="/images/misc/st-matthew-island.png"
        data-background-color="#000000"
        data-background-size="contain">
    </section>
    <section
        data-background-image="/images/misc/st-matthew-island-leave.png"
        data-background-color="#000000"
        data-background-size="500px">
    </section>
    <section
        data-background-image="/images/misc/st-matthew-island-herds-1.png"
        data-background-color="#000000"
        data-background-size="500px">
    </section>
    <section
        data-background-image="/images/misc/st-matthew-island-herds-dead.png"
        data-background-color="#000000"
        data-background-size="450px">
    </section>
    <section
        data-background-image="/images/misc/st-matthew-island-graph.png"
        data-background-color="#000000"
        data-background-size="450px">
    </section>
</section>
