<footer id="meaning" class="mx-3">
   <div class="footer-inner">
        <div class="d-flex">
            <div class="pl-2 text-left">
                <a class="link-logo" href="/">
                    <img src="/images/eotl-black.svg" height="32">
                </a>
                <div class="meaning-container d-none d-sm-inline-block">
                    <div class="meaning-cycle" style="display:none;">
                        <div class="meaning-text text-uppercase">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-auto pr-2 text-right">
                <a class="link-purpose" href="/purpose/" title="Purpose of EOTL">
                    <img title="Love Earth! Fight Extinction!" src="/images/four-purposes.svg" height="32">
                </a>
            </div>
        </div>
    </div>
</footer>
