<form action="/forms/survey-0001" method="POST">

    <div class="form-group">
        <label for="exampleFormControlSelect1">Location</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <p>
        Please list five household items you buy regularly that come in
        disposable packaging that you throw away.
    </p>
    <div class="form-group">
        <label>1</label>
        <input type="text" name="item_1">
    </div>
    <div class="form-group">
        <label>2</label>
        <input type="text" name="item_2">
    </div>
    <div class="form-group">
        <label>3</label>
        <input type="text" name="item_3">
    </div>
    <div class="form-group">
        <label>4</label>
        <input type="text" name="item_4">
    </div>
    <div class="form-group">
        <label>5</label>
        <input type="text" name="item_5">
    </div>
    <button type="submit" class="btn btn-primary">
        Send Survey
    </button>
</form>
