<header class="navbar navbar-expand-lg mt-3 mb-5 mx-3 {{ if eq .Type "home" }}d-none{{ end }}">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        <img src="/images/eotl-black.svg" title="{{ .Site.Title }}">
        <span class="d-none d-sm-inline-block">
            {{ .Language.Params.Description }}
        </span>
    </a>
    <button class="navbar-toggler ml-auto" type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse pull-right" id="navbarCollapse">
        <ul class="navbar-nav ml-auto position-relative">
            {{ $currentPage := .Page }}
            {{ range .Site.Menus.topbar }}
            {{ if .HasChildren }}
            <li class="nav-item  position-static">
                <a class="nav-link dropdown-toggle" href="{{ .URL }}" id="{{ .Name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ .Name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="{{ .Name }}">
                    {{ range .Children }}
                    <a class="dropdown-item" href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                    {{ end }}
                </div>
            </li>
            {{ else }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .URL }}">
                    <img src="/icons/{{ .Pre }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
            {{ end }}
            <li class="nav-item position-static">
		    <a class="nav-link" href="#" id="more" data-toggle="dropdown" aria-label="{{ i18n "more" }}" aria-haspopup="true" aria-expanded="false">
                    <img src="/icons/more.svg">
		    {{ i18n "more" }}
                </a>
                <div class="dropdown-menu" aria-labelledby="{{ .Name }}">
                    <a href="#" id="switch" class="nav-link" onclick="toggleTheme()">
                        <img class="switch-img" src="/icons/theme-light.svg" title="switch theme button">
			<span>{{ i18n "light" }}</span>
                    </a>
                    <a class="nav-link" href="#" id="{{ .Name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/icons/language.svg">
			{{ i18n "languages" }}
                    </a>
                    {{ range .Translations }}
                    <a class="dropdown-item" href="{{ .Site.BaseURL }}{{ .RelPermalink }}">
                        ∟ {{ .Language.LanguageName }}
                    </a>
                    {{ end }}
                </div>
            </li>
        </ul>
    </nav>
</header>
