<script src='{{ "/js/jquery.min.js" | absURL }}'></script>
<script src='{{ "/js/bootstrap.min.js" | absURL }}'></script>
<script src='{{ "/js/eotl.js" | absURL }}'></script>
<script>
    addEventListener("DOMContentLoaded", (event) => {
        meaningWhat('.meaning-cycle')
        longNowify(document.getElementsByTagName('time'))
    })
</script>
