<h3>
    Toughie, The Frog
</h3>
<div class="row">
    <div class="col-sm-12 col-md-12 {{ if eq .text true }}col-lg-5 text-center{{ end }}"> 
        <img class="img-fluid" src="/images/animals/toughie.png">
    </div>
    <div class="col-sm-12 col-md-12 {{ if eq .text true }}col-lg-7{{ end }}">
        {{ if eq .text true }}
        <p>
            Toughie was the last known living <a href="https://en.wikipedia.org/wiki/Ecnomiohyla_rabborum">Rabbs' fringe-limbed treefrog</a>.
            The species, scientifically known as Ecnomiohyla rabborum, is
            thought to be extinct, as the last specimen Toughie- died in
            captivity.
        </p>
        {{ end }}
        <p class="text-right"><code>RIP. 09.2016</code></p>
        <a target="_blank" class="btn btn-primary" href="https://crimethinc.com/2017/09/26/memento-mori-we-endlings-a-message-from-toughie">
            Toughie's story
        </a>
    </div>
</div>
