<hr class="light my-5">
<div class="row mb-5">
    <div class="col-sm-12 col-lg-3">
       {{ partial "rip.html" (dict "text" false) }}
    </div>
    <div class="col-sm-12 col-lg-3 offset-lg-1">
        {{ partial "join-us.html" . }}
    </div>
    <div class="col-sm-12 col-lg-3 offset-lg-1">
        {{ partial "source-code.html" . }}
    </div>
</div>
