{{ $projects := where site.RegularPages "Section" "projects" }}
{{ if $projects }}
<hr class="light my-5">
<div class="row mb-5">
    <div class="col-sm-12 col-lg-3">
        {{ $projects }}

    </div>
    <div class="col-sm-12 col-lg-3 offset-lg-1">
    
    </div>
    <div class="col-sm-12 col-lg-3 offset-lg-1">
  
    </div>
</div>
{{ end }}
