<div class="">
    <span class="text-muted">
        {{ i18n "reusable_containers" . }}
    </span>
    {{ i18n (.Params.reusable_containers) . }}
</div>
<div class="">
    <span class="text-muted">
        {{ i18n "food_type" . }}
    </span>
    {{ i18n (.Params.food_type) . }}
</div>
<div class="">
    <span class="text-muted">
        {{ i18n "ownership" . }}
    </span>
    {{ i18n (.Params.ownership) . }}
</div>
