<h3>Source Code</h3>
<p>
    We host all our open-source code for our software, designs, and other
    creative output on the Berlin based Git forge <a
        href="https://codeberg.org/eotl">Codeberg</a> which is a non-profit
    registered organization and is finanally supported by it's userbase.
</p>
<a href="https://codeberg.org/eotl" class="btn btn-primary">
    Read The Source
</a>
