{{ $context := .context  }}{{ $taxo := .taxo  }}
{{ if (gt (len ($context.GetTerms $taxo)) 0)}}
<div class="d-flex flex-row taxo-{{ urlize $taxo }}">
    <div>
    <img class="invert" height="24" src="/icons/{{ humanize $taxo | lower }}.svg" title="{{ humanize $taxo }}">
    </div>
    {{ range ($context.GetTerms $taxo) }}
    <div>
        <a class="taxonomy-term" href="{{ .Permalink }}" data-taxonomy-term="{{ urlize .LinkTitle }}">
          {{ .LinkTitle }}
        </a>&nbsp;&nbsp;
    </div>
    {{ end }}
</div>
{{ end }}
