{{ $context := .context  }}
{{ $taxo := .taxo  }}
{{ $title := .title  }}
{{ if isset $context.Site.Taxonomies ( lower $taxo ) }}
  {{ $taxonomy := index $context.Site.Taxonomies ( lower $taxo ) }}
  {{ if (gt (len $taxonomy) 0)}}
  <div class="branches taxo-{{ urlize $taxo }}">
      <div class="row">

          {{ .Data.branches }}

        {{ range $taxonomy }}
        <div class="col-3 mr-5 mb-5 border-primary">

          {{ with $title }}

            <h5 class="title">{{ . }}</h5>
          {{ end }}

            <h3 class="card-title">{{ .Page.Title }}</h3>
            <ul class="list-unstyled my-3">
                <li>$topic</li>
            </ul>

            <a href="{{ .Page.Permalink }}">
                Explore {{ .Count }} Items
            </a>
            <small class="text-monospace">{{ .Page.Title }}</small>

            <a class="btn btn-primary" href="">
                eotl.{{ .Page.Title }}
            </a>
        </div>
 
        {{ end }}
      </div>

    </div>
  {{ end }}
{{ end }}
