{{ $context := .context  }}
{{ $taxo := .taxo  }}
{{ $title := .title  }}
{{ if isset $context.Site.Taxonomies ( lower $taxo ) }}
  {{ $taxonomy := index $context.Site.Taxonomies ( lower $taxo ) }}
  {{ if (gt (len $taxonomy) 0)}}
    <div class="leafs taxo-{{ urlize $taxo }}">
      {{ with $title }}
        <h5 class="taxonomy-title">{{ . }}</h5>
      {{ end }}
      <div class="d-flex flex-wrap">
        {{ range $taxonomy }}
          <div class="mr-4 mb-4">
              <a class="btn btn-outline-primary" href="{{ .Page.Permalink }}" data-taxonomy-term="{{ urlize .Page.Title }}">
                  <span class="label">{{ .Page.Title }}</span>
                  <span class="text-muted">{{ .Count }}</span>
              </a>
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
