<div class="mb-5">
    <h3>What is EOTL?</h3>
    <p>EOTL is an ongoing research project at the nexus of logistics,
    software platforms, and sustainability. EOTL an experiment: towards radical
    sustainability.</p>
    <a href="/purpose">
        Read More
    </a>
</div>
