<h3>Explore</h3>
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/leafs">
        <img src="/icons/leafs.svg">
        Leafs
    </a>
    <a class="list-group-item list-group-item-action" href="/branches">
        <img src="/icons/branches.svg">
        Branches
    </a>
    <a class="list-group-item list-group-item-action" href="/roots">
        <img src="/icons/roots.svg">
        Roots
    </a>
</div>
