<h3>Browse</h3>
<div class="list-group">
    {{ $currentPage := .Page }}
    {{ $section := .Section }}
    {{ range .Site.Menus.main }}
    <a class="list-group-item list-group-item-action" href="{{ .URL }}">
        <img src="/icons/{{ .Pre }}">
        {{ .Name }}
    </a>
    {{ if eq $section .Identifier }}
    {{ $items := where site.RegularPages "Section" $section | first 5 }}
    {{ if $items }}
    <div class="list-group-item">
        <ul class="list-unstyled">
            {{- range $items }}
            <li class="mb-4">
                <a class="title" href="{{ .Permalink }}" aria-label="Read {{ .Title }}">
                    {{ .Title }}
                </a>
            </li>
            {{- end }}
        </ul>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
</div>
