<div class="mb-5">
    {{ $section := .Scratch.Get "section" }}
    {{ $limit := .Scratch.Get "limit" }}
    {{ $meta := .Scratch.Get "meta" }}
    {{ $more := .Scratch.Get "more" }}
    <div class="row">
        <div class="col-8">
            <h3>{{ $section }}</h3>
        </div>
        <div class="col-4 text-right">
            {{ if eq $more "top" }}<a href="/{{ $section }}/">See All</a>{{ end }}
        </div>
    </div>
    {{ $items := where site.RegularPages "Section" $section | first $limit }}
    {{ if $items }}
    <ul class="list-unstyled border-bottom border-light">
        {{- range $items }}
        <li class="mb-2 pt-2 border-top border-light">
            <div class="row">
                <div class="col-8">
                    <a class="title" href="{{ .Permalink }}" title="Read {{ .Title }}" rel="bookmark">
                        {{ .Title }}
                    </a>
                </div>
                <div class="col-4 text-right">
                    {{ if and (.Date) (eq $meta "date") }}
                    <time class="post-date text-monospace text-muted" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>
                        {{ .Date.Format "2006-01-02" }}
                    </time>
                    {{ else if (eq ($meta) "leafs") }}
                    leafs
                    {{ else if (eq ($meta) "branch") }}
                    <span class="text-monospace text-muted text-uppercase">{{ .Params.branches }}</span>
                    {{ end }}
                </div>
            </div>
        </li>
        {{- end }}
    </ul>
    {{ if eq $more "bottom" }}
    <a href="/{{ .Scratch.Get "section" }}/" class="btn btn-primary">
        See All {{ .Scratch.Get "section" }}
    </a>
    {{ end }}
    {{ end }}
</div>
