{{ $section := .Scratch.Get "section" }}
{{ $limit := .Scratch.Get "limit" }}
{{ $meta := .Scratch.Get "meta" }}
{{ $more := .Scratch.Get "more" }}

{{ $items := where site.RegularPages "Section" $section | first $limit }}
{{ if $items }}
<div class="mb-5">
    <h3>{{ $section }}</h3>
    <ul class="list-unstyled">
        {{- range $items }}
        <li class="mb-5">
            <a class="title" href="{{ .Permalink }}" title="Read {{ .Title }}" rel="bookmark">
                {{ .Title }}
            </a>
            {{ if .Date }}
            <time class="post-date text-monospace text-muted" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>
                {{ .Date.Format "Jan 2, 2006" }}
            </time>
            {{ end }}
            {{ if .Params.categories }}
            <small class="bg-dark text-monospace text-muted p-1">
                {{ .Params.categories }}
            </small>
            {{ end }}
        </li>
        {{- end }}
    </ul>
    {{ if eq $more "bottom" }}
    <a href="/{{ .Scratch.Get "section" }}/" class="btn btn-primary">
        See All {{ .Scratch.Get "section" }}
    </a>
</div>
{{ end }}
{{ end }}
