<!doctype html>
<html lang="en">
<head>
    <title>{{ .Title }} EOTL</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="author" content="EOTL">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    {{ $reveal_css_dict := (dict "url" "https://unpkg.com/reveal.js@5.0.0/dist/reveal.css" "key" "5.0.0-reveal.css") }}
    {{ $reveal_css := partial "load-remote.html" $reveal_css_dict }}
    <link rel="stylesheet" href="{{ $reveal_css | absURL }}">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/reveal-eotl.css" id="theme">

    {{ $zen_dict := (dict "url" "https://unpkg.com/reveal.js@5.0.0/plugin/highlight/zenburn.css" "key" "5.0.0-zen-burn.css") }}
    {{ $zen_css := partial "load-remote.html" $zen_dict }}
    <link rel="stylesheet" href="{{ $zen_css | absURL }}">

    <link rel="icon" href="/images/logo-white-32x32.png" sizes="32x32">
    <link rel="icon" href="/images/logo-white-57x57.png" sizes="57x57">
    <link rel="icon" href="/images/logo-white-76x76.png" sizes="76x76">
    <link rel="icon" href="/images/logo-white-96x96.png" sizes="96x96">
    <link rel="icon" href="/images/logo-white-120x120.png" sizes="120x120">
    <link rel="icon" href="/images/logo-white-128x128.png" sizes="128x128">
    <link rel="icon" href="/images/logo-white-144x144.png" sizes="144x144">
    <link rel="icon" href="/images/logo-white-152x152.png" sizes="152x152">
    <link rel="icon" href="/images/logo-white-167x167.png" sizes="167x167">
    <link rel="icon" href="/images/logo-white-180x180.png" sizes="180x180">
    <link rel="apple-touch-icon-precomposed" href="images/logo-white-180x180.png">
    <link rel="icon" href="/images/logo-white-192x192.png" sizes="192x192">
    <link rel="icon" href="/images/logo-white-195x195.png" sizes="195x195">
    <link rel="icon" href="/images/logo-white-196x196.png" sizes="196x196">
    <link rel="icon" href="/images/logo-white-228x228.png" sizes="228x228">
    <link rel="icon" href="/images/logo-white-270x270.png" sizes="270x270">
    <meta name="msapplication-TileImage" content="/images/logo-white-270x270.png">
</head>
<body class="reveal">
    <div class="slides">
        <section
            data-background-opacity=".25"
            data-background-image="/images/green-leafs-black-sm.jpg"
            data-background-size="contain"
            data-background-color="#000000">
            <h1>{{ .Title }}</h1>
            <p>{{ .Description }}</p>
            <a class="link-small" href="{{ .Permalink }}">
                {{ .Permalink }}
            </a>
        </section>
        {{ range $slide := .Params.slides_start }}
	      {{ $slide_start := printf "slides/%s" $slide  }}
        {{ partial $slide_start . }}
        {{ end }}
        {{ .Content }}
        {{ range $slide := .Params.slides_end }}
	      {{ $slide_end := printf "slides/%s" $slide  }}
	      {{ partial $slide_end . }}
        {{ end }}
    </div>

    {{ $reveal_dict := (dict "url" "https://unpkg.com/reveal.js@5.0.0/dist/reveal.js" "key" "5.0.0-reveal.js") }}
    {{ $reveal_js := partial "load-remote.html" $reveal_dict }}
    <script src="{{ $reveal_js | absURL }}"></script>

    {{ $markdown_dict := (dict "url" "https://unpkg.com/reveal.js@5.0.0/plugin/markdown/markdown.js" "key" "5.0.0-markdown.js") }}
    {{ $markdown_js := partial "load-remote.html" $markdown_dict }}
    <script src="{{ $markdown_js | absURL }}"></script>

    {{ $highlight_dict := (dict "url" "https://unpkg.com/reveal.js@5.0.0/plugin/highlight/highlight.js" "key" "5.0.0-hightlight.js") }}
    {{ $highlight_js := partial "load-remote.html" $highlight_dict }}
    <script src="{{ $highlight_js | absURL }}"></script>

    {{ $zoom_dict := (dict "url" "https://unpkg.com/reveal.js@5.0.0/plugin/zoom/zoom.js" "key" "5.0.0-zoom.js") }}
    {{ $zoom_js := partial "load-remote.html" $zoom_dict }}
    <script src="{{ $zoom_js | absURL }}"></script>
    <script>
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            autoPlayMedia: false,
            center: true,
            transition: 'slide',
            plugins: [
                RevealHighlight,
                RevealMarkdown,
                RevealZoom
            ]
        })
    </script>
	</body>
</html>
