<!doctype html>
<html lang="en" class="light-mode">
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body class="px-2">
        {{- partial "header.html" . -}}
        <div class="container-fluid">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "javascripts.html" . -}}
	{{ if $.Site.Params.debugging }}{{- partial "debug.html" . -}}{{ end }}
    </body>
</html>
