{{define "main" -}}
    <div class="row mb-3">
	<div class="col-lg-12">
            <h1>{{ .Title }}</h1>
	    <p>{{ .Content}}</p>
	</div>
    </div>
    <div class="row">
    {{ $tutorials := where .Site.Pages "Type" "tutorial" }}
    {{ range $tutorial := $tutorials }}
    <div class="col-lg-3">
    <div class="card bg-transparent mb-5" style="height: 45vh;">
        <div class="card-body">
	    <h4 class="card-title">{{ $tutorial.Title }}</h4>
	    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
	    <p class="card-text">
    		{{ $tutorial.Description }}
	    </p>
	    <a href="{{ $tutorial.Permalink }}" class="card-link">Explore</a>
	</div>
    </div>
    </div>
    {{ end }}
    </div>
    {{ partial "javascripts.html" }}
{{ end }}
