{{define "main" -}}
{{ $index := "/tutorials/index" }}
<div class="row">
    <div class="sidebar col-lg-3 border-right">
    	<a href="/tutorials/">Home </a>
        <div class="sidebar-toc">
            <hr>
            {{- with .Site.GetPage $index }}
            <h4>{{ .Title }}</h4>
            {{ end }}
            <ul class="list-unstyled">
                {{- range (where site.RegularPages "Section" .Section) }}
                <li class="mb-3">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
                {{- end }}
            </ul>
        </div>
    </div>
    <div class="col-lg-9 pb-4 px-4">
        <h1 class="display-2">{{ .Title }}</h1>
        <em>{{ .Params.version }}</em>
        <hr class="light">
        <div class="">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}
