<footer class="container">
    <div class="footer-inner">
        <div class="d-flex">
            <div class="pl-2 text-left">
                <a class="link-logo" href="/">
                    <img class="invert" src="/images/handshake.svg" height="32">
                    <span class="pl-2 d-none d-sm-inline-block">
                        {{ .Language.Params.Subtitle }}
                    </span>
                </a>
            </div>
            <div class="ml-auto pr-2 text-right">
                <a class="link-purpose" target="_blank" href="https://eotl.supply/purpose/" title="Purpose of EOTL">
                    <img title="Love Earth! Fight Extinction!" src="/images/four-purposes.svg" height="32">
                </a>
            </div>
        </div>
    </div>
</footer>
