<header class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-title" href="/">
            {{ .Language.Params.Title }}
        </a>
        <button class="navbar-toggler ml-auto" type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse pull-right" id="navbarCollapse">
            <ul class="navbar-nav ml-auto position-relative">
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/participate/" | relLangURL }}">
                        <img src="/images/network.svg">
                        {{ i18n "participate" . }}
                    </a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/about/" | relLangURL }}">
                        <img src="/images/about.svg">
                        {{ i18n "about" . }}
                    </a>
                </li>
                <li class="nav-item  position-static">
                    <a class="nav-link dropdown-toggle" href="{{ .URL }}" id="{{ .Name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/images/language.svg">
                        {{ i18n "language" . }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="{{ .Name }}">
                        {{ range .Translations }}
                        <a class="dropdown-item" href="{{ .URL }}">
                            {{ .Language.LanguageName }}
                        </a>
                        {{ end }}
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
