{{ if eq .Lang "en" }}
<h3>Join Us</h3>
<p>
    If you find radically sustainable logistics and creating systems for
    non-traditional economic activity an interesting endeavour-
    we'd love to talk and have you on board. We accept volunteer effort, but
    also have some budget for hiring contractors.
</p>
{{ else if eq .Lang "de" }}
<h3>Mach mit!</h3>
<p>
    Radical nachhaltige Logistik lässt dein Herz höher schlagen? Alternativen zu tradiotionellem ökonomischen Handeln sind genau dein Ding? Wir freuen uns von dir zu hören und dich an Bord zu haben! Wir akzeptieren ehrenamtliches Engagement, aber es gibt auch etwas Budget für Aufträge.
</p>
{{ end }}
<p>
    <a class="btn btn-primary" target="_blank" href="https://eotl.supply/join-us/">
        {{ i18n "learn-more" . }}
    </a>
</p>
<div class="mb-5"></div>
