{{ define "main" }}
<div class="container-fluid">
    <h1>Recent Changes</h1>
    <ul class="list-unstyled border-bottom border-light">
        {{ range site.RegularPages.ByLastmod.Reverse }}
        {{ if eq .Type "wiki" }}
        <li class="mb-2 pt-2 border-top border-light">
            <div class="row">
                <div class="col-lg-8">
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                </div>
                <div class="col-lg-2">
                    <a href="{{ relURL (printf "/branches/%s" .Params.branches) }}">{{ .Params.branches }}</a>
                </div>
                <div class="col-lg-2">
                    <time class="text-monospace text-muted">
                        {{ time.Format "2006-01-02" .Date }}
                    </time>
                </div>
            </div>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}
