{{define "main" -}}
<div class="container-fluid">
    <article>
        <div class="row">
            <div class="col-sm-12 col-lg-8 col-xl-7">
                <h1 class="display-4 mb-2">{{ .Title }}</h1>
                {{ if ".Description" }}
                <p class="text-muted">{{ .Description }}</p>
                {{ end }}
                <img src="{{ .Params.image }}">
                <main>
                    {{ .Content }}
                </main>
            </div>
            <div class="col-sm-12 col-lg-4 offset-xl-1 col-xl-3">
                <h3 class="mb-4">
                    Project Details
                </h3>
                <table class="project-meta table table-bordered py-2 px-3 mb-5 text-monospace">
                <tr>
                    <td>
                        <img class="invert" src="/icons/leafs.svg" title="Leafs">
                    </td>
                    <td>
                        {{ range .Params.Leafs }}
                        <a href="/leafs/{{ . }}">#{{ . }}</a>
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="invert" src="/icons/branches.svg" title="Branch">
                    </td>
                    <td>
                        <a href="/branches/{{ .Params.branches }}">
                            {{ .Params.branches }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="invert" src="/icons/roots.svg" title="Root">
                    </td>
                    <td>
                        <a href="/roots/{{ .Params.root }}">
                            {{ .Params.root }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="invert" src="/icons/calendar.svg" title="Period">
                    </td>
                    <td>{{ range .Params.period }}
                        <date>{{ . }}</date>&nbsp; {{ end }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="invert" src="/icons/user.svg" title="Creators">
                    </td>
                    <td>
                        {{ range .Params.creators }}
                        <a href="/roots/creators/#{{ . }}">
                            @{{ . }}
                        </a>
                        {{ end }}
                    </td>
                </tr>
                </table>

                {{ if .Params.urls }}
                <div class="mb-5">
                    <h3>Links</h3>
                    <ul class="list-unstyled">
                        {{ range $url := .Params.urls }}
                        <li class="mb-3">
                            <a class="btn btn-outline-primary" href="{{ $url.link }}">
                                {{ $url.name }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}

                <div class="mb-5">
                    <h3>Status</h3>
                    {{ if eq .Params.status "proposed" }}
                    <p>This project has only been proposed, but not started.</p>
                    {{ else if eq .Params.status "ongoing" }}
                    <p>This project is complete!</p>
                    {{ else if eq .Params.status "sleeping" }}
                    <p>This project is currently not looking for funding due to it's
                    status of sleeping.</p>
                    {{ else if eq .Params.status "complete" }}
                    <p>This project is complete!</p>
                    {{ else }}
                    <p>Eeek, project status is unclear</p>
                    {{ end }}
                </div>

                {{ if (isset .Params "partial_join") }}
                <hr class="light">
                <div class="container">
                    {{ partial "join-us.html" . }}
                </div>
                {{ end }}
            </div>
        </div>

    </article>
</div>
{{- end }}
