{{ define "main" -}}
{{- partial "header.html" . -}}
<div class="container mb-5">
    <div class="heading-images row mb-4">
        <div class="col-sm-12 col-lg-6">
            <img class="img-fluid m-0 p-0" src="/images/neighbors-system-1.svg">
        </div>
        <div class="col-sm-12 col-lg-6">
            <img class="img-fluid m-0 p-0" src="/images/neighbors-system-2.svg">
        </div>
    </div>
    {{ .Content }}
</div>
<div class="container">
    <h2>{{ i18n "neighborhood-groups" . }}</h2>
    <ul class="list-unstyled groups">
        {{ range $index, $item := .Data.Pages }}
        {{ if eq $item.Params.type "instance" }}
        {{ if eq $item.Params.listed "yes" }}
        <li>
            <hr>
            <div class="row mb-5">
                <div class="group-image">
                    <a href="{{ $item.Params.id | relLangURL }}">
                        {{ if $item.Params.image }}
                        <img class="img-fluid" src="/instances/{{ $item.Params.image }}">
                        {{ else }}
                        <img class="img-fluid invert" src="/images/neighbors-group.svg">
                        {{ end }}
                    </a>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-6">
                    <a href="{{ $item.Params.id | relLangURL }}">
                        <h3 class="mb-3">{{ $item.Params.title }}</h3>
                    </a>
                    <p class="mb-2">{{ $item.Params.description }}</p>
                    <p class="text-muted">
                    {{ if $item.Params.neighborhood }}{{ $item.Params.neighborhood }}, {{ end }}
                    {{ if $item.Params.zone }}{{ $item.Params.zone }}, {{ end }}
                    {{ if $item.Params.city }}{{ $item.Params.city}}, {{ end }}
                    {{ if $item.Params.country }}{{ $item.Params.country }}{{ end }}
                    </p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2 text-right">
                    <a class="btn btn-primary" href="{{ $item.Params.id | relLangURL }}">
                        {{ i18n "browse-group" . }}
                    </a>
                </div>
            </div>
        </li>
        {{ end }}{{ end }}{{ end }}
    </ul>
    <hr>
</div>
{{- end }}
