{{ define "main" }}

  <div>{{ .Content }}</div>

  <div class="branches">
    {{ $branches := where site.RegularPages "Section" "branches" }}
    {{ $branches }}
    <div class="row">
      {{ range $branches }}
      <div class="col-lg-3">
        <div class="card bg-transparent mb-4" style="height: 350px;">
          <div class="card-body">
            <h4 class="card-title">
                {{ .Title }}
            </h4>
            <p class="card-text">
                {{ .Params.description }}
            </p>
            <a class="btn btn-primary" href="{{ .Permalink }}">
              Browse {{ .Title }}
            </a>
          </div>
      </div>
    </div>
    {{ end }}
  </div>

{{ end }}
