{{ define "main" }}
<div class="row">
    <div class="col-lg-9">
        <header class="mb-5">
            <h1 class="display-4">{{ .Title }}</h1>
        </header>

        {{ with .Params.sections }} 
        {{partial "render-section.html" .}}
        {{ end }}

        <article>
        {{ .Content }}
        </article>

        <hr class="light">
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        <p class="text-muted">
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            Updated: <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </p>
        <hr>
    </div>
    <div class="col-lg-3">
        <div class="card bg-transparent mb-4">
            <div class="card-body">
                <h4 class="card-title">Tools</h4>
                <ul>
                    <li><a href="#">Edit Page</a></li>
                    <li><a href="#">Add Link</a></li>
                    <li><a href="#">Add Place</a></li>
                    <li><a href="#">Add Item</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}
