{{ $id := .Get "id" }}
{{ $name := .Get "name" }}
{{ $text := .Get "text" }}
{{ $url := .Get "url" }}
{{ $status := .Get "status" }}
{{ $image := .Get "image" }}
{{ $position := .Get "position" }}
<div class="row mt-5 mb-5">
    <div class="col-lg-5">
        <img class="img-fluid mt-0 h-100" src="/images/animals/{{ .Get "image" }}" title="Image of {{ .Get "name" }}">
    </div>
    <div class="col-lg-7">
        <h2>{{ .Get "name" }}</h2>
        <p>{{ .Get "text" }}</p>
        <h6 class="boxed">{{ .Get "status" }}</h6>
        <a href="{{ .Get "url" }}" class="btn btn-primary">
	    Read About
	</a>
    </div>
</div>
