{{ $url := .Get "url" }}
{{ $text := .Get "text" }}
{{ $icon := .Get "icon" }}
{{ $image := .Get "image" }}
<div class="card bg-transparent border-primary mb-5" style="max-width: 20rem;">
    <div class="card-header">
        <a href="{{ $url }}" target="_blank">
            <img height="18" class="invert" src="/icons/globe.svg">
        </a>
        <a href="{{ $url }}" class="text-monospace text-small float-right">
            {{ $urlP := urls.Parse $url }}
            {{ $urlP.Host }}
        </a>
    </div>
    <div class="card-body">
        {{ if $icon }}
        <img height="48" class="invert mb-3" src="{{ $icon }}">
        {{ end }}
        {{ if $image }}
        <img height="48" class="invert mb-3" src="{{ $image }}">
        {{ end }}
        <h3 class="card-title">{{ .Get "name" }}</h3>
        <ul class="list-unstyled my-3">
            {{ $topics := split (.Get "topics") "," }}
            {{ range $topic := $topics }}
            <li>{{ $topic }}</li>
            {{ end }}
        </ul>
        <a href="{{ $url }}" class="btn btn-primary" target="_blank">
            Explore
        </a>
    </div>
    <div class="card-footer">
        <small class="text-monospace">{{ .Get "status" }}</small>
    </div>
</div>
