{{ $url := .Get "csv" }}
{{ $sep := "," }}
{{ $scratch := newScratch }}
{{ $scratch.Set "tally" 0 }}
{{ range $i, $item := getCSV $sep $url }}
{{ if gt $i "0" }}
    {{ $countInt := int (index $item 1) }}
    {{ $scratch.Add "tally" $countInt }}
{{ end }}
{{ end }}
<div class="tally">
    <h2>{{ .Get "name" }}</h2>
    <h3>{{ $scratch.Get "tally" }}</h3>
    <p>{{ .Get "text" }}</p>
    <small class="mb-4">
        {{ .Get "textSmall" }}
    </small>
</div>
