{{ define "main" -}}
<div class="container text-center">
    <div class="mb-5">
    <h1 class="display-1">
        404
    </h1>
    <h3 class="mb-4">We lost the route<br>Get back on track!</h3>
    <a href="{{ site.BaseURL }}" title="Go back to home page" class="btn btn-primary">
        Go back to homepage
    </a>
    </div>
</div>
{{- end }}
