{{ define "main" }}
<div class="container">
    <header id="header" class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-title" href="{{ .Params.id | relLangURL }}">
                {{ if .Params.image }}
                <img height="64" src="/instances/{{ .Params.image }}">
                {{ else }}
                <img height="64" class="invert" src="/images/neighbors-group.svg">
                {{ end }}
                <span>
                {{ .Title }}
                </span>
            </a>
            <button class="navbar-toggler ml-auto" type="button"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse pull-right" id="navbarCollapse">
                <ul class="navbar-nav ml-auto position-relative">
                    <li class="nav-item  position-static">
                        <a class="nav-link dropdown-toggle" href="{{ .URL }}" id="{{ .Name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/images/language.svg">
                            {{ i18n "language" . }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="{{ .Name }}">
                            {{ range .Translations }}
                            <a class="dropdown-item" href="{{ .URL }}">
                                {{ .Language.LanguageName }}
                            </a>
                            {{ end }}
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="app" ></div>
</div>
{{ .Content }}
<script src='/ordering/js/vue-2.6.11.js'></script>
<script src='/ordering/js/vue-router.js'></script>
<script src='/ordering/js/vuex-v3.1.3.js'></script>
<script src='/ordering/js/vue-i18n.js'></script>
<script>
    const dispatchUrl = '{{ .Site.Params.dispatchUrl | safeURL }}'
    const inventoryUrl = '{{ .Site.Params.inventoryUrl | safeURL }}'
    const coordinator = '{{ .Params.id }}'
    const api = '/api/{{ .Params.id }}'
    const lang = '{{ .Lang }}'
    const style = '{{ .Params.style }}'
    const iconPath = '/icons/'
    const imagePath = '/items/{{ .Params.style_items }}/'
    const checkoutType = '{{ .Params.checkout_type }}'
</script>
<script src='/ordering/js/main.js' type='module' ></script>
{{ end }}
