<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}" class="no-ie no-js {{ .Site.Params.styleValue }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{ $isHomePage := eq .Title .Site.Title }}
            {{ if eq $isHomePage false }}
                {{ if eq .Type "item" }}{{ i18n .Title . }}
                {{ else }}{{ .Title }}{{ end }}
                : {{ .Site.Title }}
            {{ else }}
                {{ .Title }}
            {{ end }}
        </title>
        <meta name="description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ if eq $isHomePage false }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
        <meta name="robots" content="index, follow" />

        <meta property="og:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} | {{ .Site.Title }}{{ end }}">
        <meta property="og:description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ if eq $isHomePage false }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:locale" content="utf-8" />
        <meta property="og:site_name" content="{{ .Site.Params.openGraphSiteName }}" />
        <meta property="og:image" content="/images/logo.jpg" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="200" />
        <meta property="og:image:height" content="200" />

        <link rel="icon" href="/images/favicon-32x32.png" sizes="32x32">
        <link rel="icon" href="/images/favicon-57x57.png" sizes="57x57">
        <link rel="icon" href="/images/favicon-76x76.png" sizes="76x76">
        <link rel="icon" href="/images/favicon-96x96.png" sizes="96x96">
        <link rel="icon" href="/images/favicon-120x120.png" sizes="120x120">
        <link rel="icon" href="/images/favicon-128x128.png" sizes="128x128">
        <link rel="icon" href="/images/favicon-144x144.png" sizes="144x144">
        <link rel="icon" href="/images/favicon-152x152.png" sizes="152x152">
        <link rel="icon" href="/images/favicon-167x167.png" sizes="167x167">
        <link rel="icon" href="/images/favicon-180x180.png" sizes="180x180">
        <link rel="apple-touch-icon-precomposed" href="images/favicon-180x180.png">
        <link rel="icon" href="/images/favicon-192x192.png" sizes="192x192">
        <link rel="icon" href="/images/favicon-195x195.png" sizes="195x195">
        <link rel="icon" href="/images/favicon-196x196.png" sizes="196x196">
        <link rel="icon" href="/images/favicon-228x228.png" sizes="228x228">
        <link rel="icon" href="/images/favicon-270x270.png" sizes="270x270">
        <meta name="msapplication-TileImage" content="/images/favicon-270x270.png">

        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BlogPosting",
            "mainEntityOfPage": {
                 "@type": "WebPage",
                 "@id": "{{ .Site.BaseURL }}"
            },
            "articleSection": "{{ .Section }}",
            "name": "{{ .Title }}",
            "headline": "{{ .Title }}",
            "description": "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
            "inLanguage": "{{ .Language.Lang }}",
            "author": "{{ .Site.Title }}",
            "image": "{{ .Site.BaseURL }}images/logo.jpg",
            "publisher":  {
                "@type": "Organization",
                "name": "{{ .Site.Title }}",
                "logo": "{{ .Site.BaseURL }}images/logo.jpg"
            },
            "datePublished": "{{ .Date }}",
            "dateModified" : "{{ .Date }}",
            "url": "{{ .Permalink }}"
        }
        </script>
        {{ if ne .Site.Params.style "" }}
        <link rel="stylesheet" href="/css/{{ .Site.Params.style }}.css">
        {{ else }}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        {{ end }}
        <link rel="stylesheet" href="/css/simple-food-site.css">

        {{ hugo.Generator }}

        <script src='{{ "/js/jquery-3.3.1.slim.min.js" | absURL }}'></script>
        <script src='{{ "/js/bootstrap.bundle.min.js" | absURL }}'></script>
        <script src='{{ "/js/modernizr-custom.js" | absURL }}'></script>
    </head>
    <body>
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        <div class="container">
            <hr>
            <footer class="container mb-5">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>{{ .Site.Params.info }}</h4>
                        <p>{{ .Site.Params.description }}</p>
                    </div>
                    <div class="col-lg-4">
                        <h4>{{ .Site.Params.contact }}</h4>
                        {{ partial "contact.md" | markdownify }}
                    </div>
                    <div class="col-lg-4">
                        <h4>{{ .Site.Params.address }}</h4>
                        {{ partial "address.md" | markdownify }}
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
