{{ define "main" -}}
<div class="container">
    <header>
        <h1>
            {{ .Title }}
        </h1>
    </header>
    <main class="updates">
        <ul class="list-unstyled">
            {{- range (where site.RegularPages "Section" "updates") }}
            <li class="mb-5">
                <h3 class="mb-1">
                    <a href="{{ .Permalink }}" title="Read {{ .Title }}" rel="bookmark">
                        {{ .Title }}
                    </a>
                </h3>
                {{ if .Date }}
                <time class="mb-2" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>
                    {{ .Date.Format "Jan 2, 2006" }}
                </time>
                {{ end }}
                <p class="mt-0 mb-4">
                    {{ if .Description }}{{ .Description }}{{ else }}
                    {{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}
                    {{ if .Truncated }}
                    ...
                    {{ end }}
                </p>
                <p>
                    <a href="{{ .RelPermalink }}">
                        {{ i18n "read_more" }}
                    </a>
                </p>
                <hr>
            </li>
            {{- end }}
        </ul>
    </main>
</div>
{{- end }}
