<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}" class="no-ie no-js">
  {{- partial "head.html" . -}}
  <body>
    {{- if eq .Params.header "show" }}
    {{- partial "header.html" . -}}
    {{- end }}
    <section class="full-height" style="background-image: url({{ .Params.background_image }})">
          <div class="container">
            <h1>{{ .Title }}</h1>
            {{- partial "audio_player.html" . -}}

            {{- if .Params.creator }}
            <p>Creator: {{ .Params.creator }}</p>
            {{- end }}
            <a href="#about">About Collaboration</a>
            <a href="#sharing">Download + Share</a>
        </div>
    </section>
    <section id="about" class="full-height">
        <div class="container">
            <h2>About Collaboration</h2>
            <p>
                EOTL considers music and art an essential part of how humanity learns
                and records our collective history. We thought it would be a good idea to fund sustainability focused
                artists sometimes and weave those creations into our mythology and
                network.
            </p>
            <h4>{{ .Params.creator }}</h4>
            <p>{{ .Params.creator_description }}</p>
            <hr class="line-muted">
            <p></p>
        </div>
    </section>
    {{- block "main" . }}
        {{ .Content }}
    {{- end }}
    <script src="/js/vue.js"></script>
    <script src="/js/audio-player.js"></script>
    {{- if eq .Params.footer "show" }}
    {{- partial "footer.html" . -}}
    {{- end }}
  </body>
</html>
