{{ define "main"}}

{{ $all_events := where site.RegularPages "Type" .Section }}
{{ $all_events = sort $all_events "Params.starts_at" "asc"}}

{{ $future_events := slice}}
{{ $past_events := slice}}

{{ range $all_events}}
  {{ $diff := now.Sub (.Params.starts_at | time) }}
  {{ if lt $diff.Hours 48}}
    {{ $future_events = $future_events | append .}}
  {{ else }}
    {{ $past_events = $past_events | append .}}
  {{ end }}
{{ end }}

{{ .Content}}

<h1>Events</h1>
<div class="events-overview-grid">
  {{ range $future_events}}
  {{ partial "event-overview.html" .}}
  {{ end }}
</div>
<br>
<br>
<h2>Past Events</h2>
{{ $printed_year := ' ' }}
<div class="events-overview-grid">
  {{ range $past_events | collections.Reverse }}
  {{ $event_year := (time.AsTime .Params.starts_at).Year }}
  {{ if ne $printed_year $event_year }}
  {{ $printed_year = $event_year}}
  </div>
  <h3>{{ $event_year }}</h3>
  <div class="events-overview-grid">
  {{ end }}
  {{ partial "event-overview.html" .}}
  {{end }}

  <p><a href="{{ "events/index.ics" | relURL }}">Import to Calendar (.ics)</a></p>
</div>
{{ end}}
