{{ define "title"}}
Offline - {{ .Title}}
{{ end}}
{{ define "main"}}
<h1 class="event-smaller-title">
    {{.Title}}
</h1>

<div>
    Date: {{ time.Format "January 2 Monday" .Params.starts_at}}
</div>
<div>
    Time: {{ time.Format "15:04" .Params.starts_at}}
</div>

{{ with .Params.ends_at }}
<div>Ends at: {{ time.Format "15:04" .Params.ends_at}}</div>
{{ end }}

{{ with .Params.organized_by }}<div>Organized By: {{ .}}</div>{{ end}}
<br>
{{ .Params.kaomoji}}
<br>
{{.Content}}

<div><span style="font-size: 1.5em;">❊</span>
  <br>
  <br>
  This event will be held in {{with .Params.language}}{{.}}{{else}}Language not specified{{end}}.
</div>

<p><a href="index.ics">Import to Calendar (.ics)</a></p>
{{ end}}
