<!--
       ==========      //========\\    ===========    ||
       ||              ||        ||        ||         ||
       ||              ||        ||        ||         ||
       ||              ||        ||        ||         ||
       ||              ||        ||        ||         ||
       ||======        ||        ||        ||         ||
       ||              ||        ||        ||         ||
       ||              ||        ||        ||         ||
       ||              ||        ||        ||         ||
       ||              ||        ||        ||         ||
       ===========     \\========//        ||         ||========

       =========================================================
           END              OF            THE            LINE
       =========================================================

       Are you a hax0r concerned about on-going mass extinction?
                Get in touch: dev@eotl.supply

       =========================================================
        LOVE            EARTH         FIGHT         EXTINCTION
         <3              (O)           \m/             (X)
       =========================================================
-->
<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}" class="no-ie no-js">
    {{- partial "head.html" . -}}
    <body class="{{ .Params.style  }}">
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </body>
</html>
