{{define "main" -}}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>{{ .Title }}</h1>
        </div>
        <div class="col-4 text-right">
            <h4 class="text-muted mt-4">Research</h4>
        </div>
    </div>
    <main>
        {{ .Content }}
    </main>
    <div class="mb-5">
        <h3>Survey Results</h3>
        <p>{{ .Params.survey_pre }}</p>
        {{ $url := .Params.survey_csv }}
        {{ $sep := "," }}
        {{ $scratch := newScratch }}
        {{ $scratch.Set "tally" 0 }}
        <div class="table-responsive mb-5">
        <table class="table table-striped mb-0">
            <thead>
                <th scope="col" class="text-muted">
                    Item 1
                </th>
                <th scope="col" class="text-muted">
                    Item 2
                </th>
                <th scope="col" class="text-muted">
                    Item 3
                </th>
                <th scope="col" class="text-muted">
                    Item 4
                </th>
                <th scope="col" class="text-muted">
                    Item 5
                </th>
            </thead>
            <tbody>
                {{ range $i, $item := getCSV $sep $url }}
                {{ if gt $i "0" }}
                {{ $scratch.Set "tally" $i }}
                <tr>
                    <td class="text-capitalize">
                        {{ if eq (index $item 0) "na" }}
                        <small class="bg-dark text-light text-monospace pt-1 pr-2 pb-1 pl-2" title="Question Not Answered">N/A</small>
                        {{ else }}{{ (index $item 0) }}{{ end}}
                    </td>
                    <td class="text-capitalize">
                        {{ if eq (index $item 1) "na" }}
                        <small class="bg-dark text-light text-monospace pt-1 pr-2 pb-1 pl-2" title="Question Not Answered">N/A</small>
                        {{ else }}{{ (index $item 1) }}{{ end}}
                    </td>
                    <td class="text-capitalize">
                        {{ if eq (index $item 2) "na" }}
                        <small class="bg-dark text-light text-monospace pt-1 pr-2 pb-1 pl-2" title="Question Not Answered">N/A</small>
                        {{ else }}{{ (index $item 2) }}{{ end}}
                    </td>
                    <td class="text-capitalize">
                        {{ if eq (index $item 3) "na" }}
                        <small class="bg-dark text-light text-monospace pt-1 pr-2 pb-1 pl-2" title="Question Not Answered">N/A</small>
                        {{ else }}{{ (index $item 3) }}{{ end}}
                    </td>
                    <td class="text-capitalize">
                        {{ if eq (index $item 4) "na" }}
                        <small class="bg-dark text-light text-monospace pt-1 pr-2 pb-1 pl-2" title="Question Not Answered">N/A</small>
                        {{ else }}{{ (index $item 4) }}{{ end}}
                    </td>
                </tr>
                {{ end }}
                {{ end }}
            </tbody>
        </table>
        </div>
        <div class="bg-dark text-light text-monospace mb-5 p-2">
            {{ $scratch.Get "tally" }} Surveys Completed
        </div>
        <h3>Conclusions</h3>
        <p>{{ .Params.survey_post }}</p>
    </div>
</div>
{{- end }}
