<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ $.Site.Title }} CMS</title>
</head>
<body>
    {{ if eq $.Site.Params.cms.engine "decap" }}
    {{ $decap := "https://unpkg.com/decap-cms@^3.0.12/dist/decap-cms.js" }}
    {{ if eq $.Site.Params.cms.assets "local" }}
    {{ $decap = "./decap-cms.js" }}
    {{ end }}
    <script src="{{ $decap }}"></script>

    {{ else if eq $.Site.Params.cms.engine "sveltia" }}
    {{ $sveltia := "https://unpkg.com/@sveltia/cms/dist/sveltia-cms.js" }}
    {{ if eq $.Site.Params.cms.assets "local" }}
    {{ $sveltia = "./sveltia-cms.js" }}
    {{ end }}
    <script src="{{ $sveltia }}" type="module"></script>
    
    {{ else }}
    <h1>Error</h1>
    <p>You have configured your Hugo site to use an invalid Headless CMS.
        This theme only supports <code>decap</code> or <code>sveltia</code> as
        values.</p>
    {{ end }}
</body>
</html>
