{{ define "main" -}}
{{- partial "header.html" . -}}
<div class="container text-center">
    <h1>
        Page Not Found<br>
    </h1>
    <p class="text-muted">
        Status Code 404
    </p>
    <h3>Get back on track!</h3>
    <a href="{{ site.BaseURL }}" title="Go back to home page" class="btn btn-primary">
        Back to Homepage
    </a>
</div>
{{- end }}
