{{ define "main" }}
<div class="container">
    <section>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        <hr>
        <ul class="list-unstyled">
            {{ range $index, $page := .Data.Pages }}
            <li>
                <div class="row">
                    <div class="col-6">
                        <small class="text-muted">{{ .Params.zone }}</small>
                        <h3>
                            <a href="{{ .Params.id }}">{{ .Title }}</a>
                        </h3>
                    </div>
                    <div class="col-6">
                        {{- partial "shop-params.html" . -}}
                    </div>
                </div>
                <p>
                    <a class="mr-5" target="_blank" href="https://openstreetmap.org/search?query?lat={{ .Params.lat }}&lon={{ .Params.lng }}">
                        See On Map
                    </a>
                    <a href="{{ .Params.website }}">
                        Website
                    </a>
                </p>
                <hr>
            </li>
            {{ end }}
        </ul>
    </section>

    {{- partial "stores-international.html" . -}}
</div>
{{ end }}
