{{ define "main" }}
<div class="container">
    <section>
        <small class="text-muted">
            {{ i18n "store" . }}
        </small>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        <hr>
        <div class="row">
            <div class="col-4">
                <p>
                    {{ .Params.address }}<br>
                    {{ .Params.address_2 }}<br>
                    {{ .Params.city }},
                    {{ .Params.state }}<br>
                    {{ .Params.postal }}
                </p>
                <p>
                    <a href="tel://{{ .Params.phone }}">
                        {{ .Params.phone }}
                    </a><br>
                    <a href="{{ .Params.website }}">
                        Website
                    </a>
                </p>
                <p>
                    <span class="text-muted">Zone</span>
                    {{ .Params.zone }}
                </p>
            </div>
            <div class="col-4">
                {{- partial "shop-params.html" . -}}
            </div>
            <div class="col-4">
                <p class="text-muted">
                    {{ i18n "offerings" . }}
                </p>
                <ul class="list-unstyled">
                    {{ range $i, $item := .Params.Items }}
                    <li>
                        <img height="32" class="invert" src="/icons/{{ $item }}.svg">
                        {{ $item }}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </section>
</div>
{{ end }}
